<div class='container'>
<h1>Welcome to Shoeville</h1>
<% @products.each do |product| %>
      <p>
      <%= product.title %>
      <%= link_to 'show', product_path(product.id)%> ||
    <%= link_to 'edit', edit_product_path(product.id)%>
      <%= raw product.body_html%></p>
      <p><b>Vendor:</b> <%= product.vendor%></p>
      <p><b>Product type:</b> <%= product.product_type %></p>

  <% product.images.each do |image| %>
      <br/>
  <img src="<%=  image.src%>" alt="<%=product.title%>">
  <% end %>
  <div class = 'row'>
    <% product.variants.each do |v|%>
    <div class = 'col-5 offset-1'>
      <div class="card mb-3" style="width: 23rem;">
        <div class="card-body">
          <h5 class="card-title"><%= v.title %> - <%= v.price%></b></h5>
          <p class="card-text">Available in <%=v.option1%> size and <%=v.option2%> colour with weight of
          <%=v.weight%> <%=v.weight_unit%></p></p>
          <%= render partial: 'variant-form', locals: {prod: product.id, var: v.id} %>
        </div>
      </div>
      </div>
    <% end %>
  </div>

<% end %>
</div>
